/*BLOCKER*/

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0px;
  display: block;
  pointer-events: all;
  z-index: 10;
  flex-direction: column;
  transition: all 0.3s;

  .body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    /*padding: 2vh;*/
    margin-left: 15vh;
    transition: all 1s;

    #settings-menu-title {
      background-color: rgba(128, 128, 128, 0.5);
      filter: none !important;
      padding: 0px !important;

      height: 6vw !important;
      top: -6vw;
      width: auto !important;
      display: none;
      justify-content: center;
      align-items: center;
      /*font-size: 2vw;*/

      font-weight: 900;
      font-size: 4vh;

      pointer-events: none;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .settings-menu {
      background: rgba(128, 128, 128, 0.5);
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      font-size: 1.5vw;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      font-weight: bolder;
      transition: all 0.3s;

      max-height: 60%;
      overflow-y: scroll;

      #options-settings,
      #options-single,
      #options-community,
      #options-about,
      #options-patreon {
        width: 100%;
        display: none;
      }

      #options-about,
      #options-patreon {
        pointer-events: none;

        span {
          display: block;
          width: 95%;
          text-align: justify;
        }
      }

      #options-main {
        width: 100%;
        display: none;
      }

      #options-video,
      #options-controls,
      #options-audio {
        width: 100%;
        display: none;

        .options-row {
          width: 100%;
          display: flex;

          .option-name {
            width: 60%;
          }

          .option-value {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: end;

            select {
              width: 80%;
              height: 50%;
              outline: none;
              margin-right: 10%;
            }

            input[type="checkbox"] {
              width: 30%;
              height: 30%;
            }

            input[type="range"] {
              width: 65%;
              height: 30%;
            }

            input[type="number"] {
              width: 15%;
              height: 30%;
              margin-right: 4vh;
              font-size: 2vh;
              border: none;
              pointer-events: none;
            }
          }
        }
      }

      span {
        width: calc(100% - 20px);
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 20px;
        transition: all 0.1s;
        font-size: 3vh;
      }

      span:hover {
        background: #d1bb53;
        filter: drop-shadow(1 2px 3px black);
        color: black;
      }

      .sub-option {
        display: none;
      }
    }

    #settings-menu {
      display: flex;

      button {
        width: 12vh;
        height: 4vh;
        border: none;
        background: rgb(40, 40, 40);
        color: white;
        font-weight: bolder;
        margin-top: 2vh;
        filter: drop-shadow(2px 4px 6px black);
        font-size: 2vh;
        display: none;
      }

      button:hover {
        background: #d1bb53;
        filter: drop-shadow(1 2px 3px black);
        color: black;
      }

      #done {
        margin-left: 3vh;
      }
    }

  }
}

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding-left: 10px;
  font-size: 2.5vh;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  /* <option> colors */
  option {
    color: inherit;
    background-color: grey;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 255, 255, 0.4);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px;
}

/*-------------------------------------------------------------*/

#load-level-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;

  #close-load-level-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    filter: drop-shadow(2px 4px 6px black);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s;
  }

  #close-load-level-panel:hover {
    background-color: black;
    color: white;
  }

  #input-level {}
}

#viewer-3d {
  transition: all 0.5s;
  width: 100% !important;
  height: 100% !important;
}

#rotate-item {
  display: none;
}

#settings {
  display: none;
  flex-direction: column;
  padding: 20px;

  .options-row {
    color: black;
    display: flex;
    margin-top: 10px;

    span {
      width: 50%;
      display: flex;
      align-items: center;
      font-weight: bolder;
      font-size: 14px;
      pointer-events: none;
    }

    .option-value {
      width: 50%;
    }

    select {
      color: black;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
    }

    option {
      font-size: 16px;
    }
  }

}

#items {

  div {
    position: relative;

    span {
      background-color: rgba(0, 0, 0, 0.4);
      width: 20px;
      height: 20px;
      display: flex;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      position: absolute;
      bottom: 5px;
      right: 10px;
      filter: drop-shadow(2px 4px 6px black);
      pointer-events: none;
      font-size: 12px;
    }
  }
}

form {
  background-color: rgba(0, 0, 0, 0.404);
  display: flex;
  flex-direction: column;
  padding: 10px;
  right: 5px;
  position: absolute;
  backdrop-filter: blur(30px);

  textarea {
    height: 100px;
  }

  label,
  textarea {
    margin: 10px;
  }

  input[name="sample"] {
    height: 100px;
  }
}

#trigger_audio-state {
  max-height: 200px;
  overflow-y: scroll;
}

#audio-trigger {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 10000;
  width: auto;
  padding: 10px;
  height: auto;
  flex-direction: column;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bolder;

  span {
    margin-bottom: 10px;
  }

  a {
    color: blue;
  }
}

#list-custm-chambers {
  display: grid;
  grid-template-columns: auto auto;

  .custom-chamber {
    width: 90%;
    height: 300px;
    margin: 3px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s;
    border: 5px solid black;
    overflow: hidden;

    span {
      position: absolute;
      bottom: 0px;
      background-color: rgba(0, 0, 0, 0.75);
    }

    .fa-thumbs-up {
      right: 10px;
      top: 10px;
      position: absolute;
      transition: all 0.5s;
    }

    .fa-thumbs-down {
      right: 60px;
      top: 10px;
      position: absolute;
      transition: all 0.5s;
    }

    .fa-thumbs-up:hover {
      color: green;
    }

    .fa-thumbs-down:hover {
      color: red;
    }
  }

  .custom-chamber:hover {
    filter: drop-shadow(2px 4px 6px black);
    border: 5px solid orange;
  }
}

#chamberName {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1000000;
  font-size: 30px;
  filter: drop-shadow(2px 4px 6px black);
  opacity: 0;
  transition: all 10s;
}

#initial-warning {
  position: absolute;
  z-index: 1000000;
  width: 100%;
  height: calc(100% - 70px);
  background-color: black;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  overflow-y: scroll;
  padding-top: 50px;
  padding-bottom: 20px;

  a {
    color: #00a2ff;
  }

  span {
    width: 80%;
    font-size: 30px;
    color: #ff9a00;
  }

  #close-warning {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 24px;
    background-color: #ff9a00;
    color: #00a2ff;
  }
}

#next-map {
  width: 100%;
  height: 100%;
  background: #000000ad;
  position: absolute;
  z-index: 100000;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  flex-direction: column;

  #next-buttons{
    margin-top: 10px;
    button {
      width: 200px;
      height: 40px;
      font-size: 16px;
      font-weight: bolder;
      filter: drop-shadow(2px 4px 6px black);
      margin-top: 20px;
      transition: all 0.5s;
      border: none;
      margin: 10px;
    }
  
    button:hover{
      background-color: #FDB45C;
    }
  }

  #congrats {
    display: none;
    font-size: 100px;
    font-weight: bolder;
  }

  .content {
    position: relative;
    min-width: 1000px;
    width: 60%;
    max-width: 1200px;
    height: 440px;
    background: #222;
    border-radius: 6px;
    margin: 0px;
    padding: 20px;
  }

  .stats {
    height: 200px;
  }

  .col {
    width: 33.33%;
    height: 200px;
    float: left;
    padding: 0px;
    position: relative;
  }

  .middle:before,
  .middle:after {
    content: "";
    height: 80%;
    border: 1px solid #333;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .middle:before {
    left: 0;
  }

  .middle:after {
    right: 0;
  }

  .matchStats {
    float: right;
    width: 300px;
    height: 240px;
    position: relative;
  }

  #gameStats,
  #roleStats {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
  }

  #champData {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
  }

  #timeData {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .mainInfo {
    height: 240px;
    padding: 0px;
    width: calc(100% - 600px);
    float: left;
  }

  .mainInfo span {
    color: #999;
  }

  .mainInfo .aboutMe {
    font-size: 12px;
    color: #999;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #FDB45C;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    display: block;
    position: absolute;
    top: -5px;
    left: 10px;
  }

  h3 {
    display: block;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #333;
    color: #FDB45C;
  }

  .clearFix {
    clear: both;
  }

  .playerStats {
    margin: auto;
    padding: 0;
    list-style: none;
    margin: 6px;
  }

  .playerStats li {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
  }

  .playerStats li span {
    display: inline-block;
    width: 60%;
    color: #999;
  }

  .backgroundText {
    width: 100%;
    height: 100%;
    font-size: 56px;
    color: rgba(255, 255, 255, 0.2);
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
  }

  .resizing {
    position: relative;
    width: 90%;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

}

#version{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100000;
  font-size: 30px;
}